/* Background particles */
.particles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

.particle {
    position: absolute;
    width: 2px;
    height: 2px;
    background: var(--neon-magenta);
    border-radius: 50%;
    animation: float 6s ease-in-out infinite;
    box-shadow: 0 0 3px var(--neon-magenta);
}